<div class="container-fluid x">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <mat-form-field class="x" appearance="outline">
        <mat-label>Current Password:</mat-label>
        <input
          matInput
          placeholder="E.g. xyz@gmail.com"
          name="email"
          [(ngModel)]="currentpassword"
          required
        />
      </mat-form-field>
      <mat-form-field class="x" appearance="outline">
        <mat-label>New Password:</mat-label>
        <input
          matInput
          placeholder="E.g. xyz@gmail.com"
          name="email"
          [(ngModel)]="newpassword"
          required
        />
      </mat-form-field>
      <mat-form-field class="x" appearance="outline">
        <mat-label>Confirm New Password:</mat-label>
        <input
          matInput
          placeholder="E.g. xyz@gmail.com"
          name="email"
          [(ngModel)]="newconfirmpassword"
          required
        />

        <mat-error *ngIf="newpassword != newconfirmpassword">
          <p class="mat-body-1">Passwords dont match!</p>
        </mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col text-center">
          <button
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
            [disabled]="newpassword != newconfirmpassword"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
