.bg {
  background-color: #00bfa5;
  color: white;
}

.headrow {
  top: 20%;
  font-size: 50px;
  font-weight: bold;
}

.linerow {
  position: relative;
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
}

.btnrow {
  position: relative;
  margin-top: 60px;
  font-size: 25px;
  font-weight: bold;
}
