<div>
  <div class="content-container">
    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>

    <mat-form-field class="x" appearance="outline">
      <mat-label>Enter Your Email:</mat-label>
      <input
        matInput
        placeholder="E.g. xyz@gmail.com"
        name="email"
        [(ngModel)]="email"
      />
    </mat-form-field>
  </div>

  <button mat-flat-button id="no-button" [mat-dialog-close]="false">
    CANCEL
  </button>
  <button mat-flat-button id="yes-button" [mat-dialog-close]="email">
    SUBMIT
  </button>
</div>
